@model WebMvcTest.Models.m_persons

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.personId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.personId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.personName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>
    </dl>
</div>

